.products-subHeader-ul{
    display: flex;
}
.products-subHeader-ul > span > li{
    list-style-type: none;
    display: inline-block;
    font-size: 12px;
    padding: 6px;
}
.span-li-map > li > a{
    color: rgb(170, 169, 169);
}
.span-li-map > li > a:hover{
    color: black;
    text-decoration: none;
}
.home-div{
    margin-top: 50px;
}
.home-div > ol{
    list-style-type: none;
    font-size: 14px;
}
.home-div > ol > li > a{
    color: rgb(170, 169, 169);
}
.home-div > ol > li > a:hover{
    color: black;
    text-decoration: none;
}
.heading{
    width: 100%;
}
.heading > h1{
    font-weight: 700;
    font-size: 25px;
    width: 350px;
    margin-left: 40px;
}
.both-divs{
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin-left: 40px;
}
.left-div{
    height: 600px;
    width: 304px;
    background: #fff;
    border-radius: 3px;
    position: relative;
    height: 100%;
}
.filter{
    padding: 16px 0px 16px 16px;
    font-size: 16px;
    font-weight: 700;
}
.catagories{
    border-top: 1px solid rgba(0,47,52,.2);
    padding: 16px;
}
.dropdown > span{
    font-size: 13px;
    color: rgb(145, 142, 142) ;
}
.btn{
    display: flex;
    justify-content: space-between;
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-color: transparent;
}
.btn:focus{
    outline: transparent;
}
.btn:active{
    outline: transparent;
}
.all-categories {
    margin-top: 5px;
    overflow: hidden;
    border: 0px;
}
.all-categories > a{
    color: rgb(170, 169, 169);
    font-size: 14px;
}
.all-categories > a:hover{
    text-decoration: none;
    color: black;
}
.show{
    margin-bottom: 10px;
}
.locations{
    border-top: 1px solid rgba(0,47,52,.2);
    padding: 16px;
    z-index: 0;
}
.locations > a{
    margin-top: 5px;
    margin-left: 15px;
    display: list-item;
}
.price-input{
    display: flex;
}
.price-input > input{
    width: 105px;
    height: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-left: 3px;
    background-color: rgb(236, 225, 217);
    z-index: 0;
}
.price-input > button{
    margin-left: 6px;
    width: 40px;
    border: 1px solid lightgray;
    box-shadow: 1px 0px 2px 1px darkgray;
    z-index: 0;

}
/* .show{
    margin-bottom: 10px;
} */
.right-div > div{
    margin-left: 15px;
    display: flex;
}
.text{
    border-bottom: 1px solid lightgray;
}
.text > p{
    font-size: 14px;
}
.functionality-div1{
    margin-top: 0px;
    display: flex;
    margin-left: 360px;

}
.functionality-div1 > span{
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
.functionality-div1 > button{
    border: 0px solid;
    background-color: #fff;
    margin-left: 10px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}
.functionality-div1 > button:hover{
    background-color: skyblue;
}
.functionality-div > button > i{
    font-size: 16px;
}
.functionality-div2{
    margin-left: 25px;
    border-left: 1px solid lightgray;
}
.functionality-div2 > div{
    margin-left: 10px;
    margin-top: 0px;
}
.functionality-div2 > div > button{
    border: 0px solid;
    background-color: #fff;
}
.functionality-div2 > div > button > i{
    margin-left: 75px;
}
.content > ul > li{
    list-style-type: none;
    display: inline-block;
}
.listed{
    margin-top: 10px;
    width: 250px;
    overflow: hidden;
    height: 180px;
}
.listed > ul{
    display: contents;
    list-style-type: none;
}
.listed > ul > a{
    color: black;
    text-decoration: none;
}
.listed > ul > a > li{
    height: 44px;
}
.listed > ul > a > li:hover{
    background-color: skyblue;
} 