.products-subHeader-ul{
    display: flex;
}
.products-subHeader-ul > span > li{
    list-style-type: none;
    display: inline-block;
    font-size: 12px;
    padding: 6px;
}
.span-li-map > li > a{
    color: rgb(170, 169, 169);
}
.span-li-map > li > a:hover{
    color: black;
    text-decoration: none;
}