.header_settings{
    max-width: 1400px;
    height: 68px;
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 1px #dadada;
    display: flex;
}
.container{
    max-width: 1400px;
    display: inline;
}
.image_settings img{
    margin-top: 15px;
    margin-left: 38px;
    width: 40px;
    height: 40px;
}
.image_settings img:hover{
    cursor: pointer;
}
.loc_search{
    background-color: #fff;
    border: 2px solid #002f34;
    border-radius: 3px;
    height: 44px;
    margin-left: 20px;
    margin-top: 10px;
    box-shadow: 1px 1px #dadada;
    width: 270px;
}
.loc_search i{
    margin-left: 10px;
    font-size: 21px;
    margin-top: 8px;
}
.loc_search input{
    margin-left: 15px;
    width: 165px;
    font-size: 16px;
    color: #303030;
    height: 92%;
}

.loc_searchBar{
    border: 0px solid;
    font-size: 14px;
}

.down_icon {
    border: 0px solid;
    background-color: #fff;
    font-size: 22px;
}
.down_icon:hover{
    cursor: pointer;
}
.things_search{
    background-color: #fff;
    border: 2px solid #002f34;
    border-radius: 3px;
    height: 44px;
    margin-left: 14px;
    margin-top: 10px;
    box-shadow: 1px 1px #dadada;
    width: 730px;
    display: flex;
}
.things_search input{
    border: 0px solid;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    width: 690px;
    height: 100%;
    font-size: 16px;
}
.search_icon{
    border: 0px solid;
    height: 100%;
    width: 47px;
    background-color: #002f34;
    border-radius: 0 3px 0 3px;
}
.search_icon:hover{
    cursor: pointer;
}
.search_icon i{
    color: #fff;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 22px;
}
.signinBtn{
    display: flex;
}
.loginBtn{
    border: 0px solid;
    background-color: rgb(245, 245, 245);
    height: 25px;
    margin-top: 22px;
    margin-left: 28px;
    font-weight: bold;
    font-size: 16px;
    color: #002f34;
}
.loginBtn:hover{
    cursor: pointer;
}
.plus_icon{
    width: 100px;
    display: flex;
    height: 48px;
    margin-top: 10px;
    margin-left: 10px;
    border: 6px solid hsl(186, 65%, 32%);
    background-color:rgb(245, 245, 245) ;
    color: #002f34;
    border-radius: 30px;
}
.plus_icon:hover{
    cursor: pointer;
}
.plus_icon div{
    display: flex;
    margin-top: 12px;
    margin-left: 13px;
}
.plus_icon h3{
    margin: 0 auto ;
    margin-top: 10px;
}
.main_SubHeader{
    display: flex;
}
.hNav{
    height: 45px;
    width: 150px;
    margin-top: 1px;
    margin-left: 18px;
    font-size: 14px;
}
.downBtnOfhNav{
    border: 0px solid;
    background-color: #fff;
    font-size: 14px;
    margin-left: 5px;
    width: 160px;
    height: 45px;
    font-family: sans-serif;
}
.downBtnOfhNav:hover{
    cursor: pointer;
}
.downBtnOfhNav i{
    margin-left: 5px;
    font-size: 16px;
}
.hNavOthers{
    margin-top: 8px;
    height: 30px;
    margin-left: 20px;
    display: flex;
}
.items li{
    display: inline-block;
}
.hNavOthers button{
    font-size: 14px;
    border: 0px solid;
    background-color: #fff;
    margin-left: 10px;
    font-family: sans-serif;
}
.hNavOthers button:hover{
    cursor: pointer;
    color: lightskyblue;
}
.bannerDiv{
    width: 100%;
    height: 250px;
    background-image: url(./images/olxMainBanner.jpg);
    background-position: center;
}
.mainSubBanner{
    display: flex;
    justify-content: center;
    max-width: 1400px;
    height: 198px;
    background-color: #002F3408;
    border: 0px solid;
    box-shadow: 1px #dadada;
}
.mobile{
    margin-left:0px ;
}
.FirstDivSubBanner{
    margin-left: 20px;
    width: 360px;
}
.FirstSpanSubBanner{
    font-size: 34px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.SecondSpanSubBanner{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.SecondDivSubBanner{
    max-width: 400px;
    margin-left: 40px;
}
.SecondDivSubBanner span{
    margin-top: 40px;
    font-size: 17px;
    font-weight: 600;
}
.SecondDivSubBanner button{
    border: 0px solid;
    margin: 0px;
    background-color: #c2c5c508;
}
.store{
    width: 128px;
    height: 40px;
}
.store:hover{
    cursor: pointer;
}
.mainSubFooter{
    display: flex;
    height: 160px;
    background-color: #ebeeef;
    /* justify-content: space-around; */
    max-width: 1400px;
}
.mainSubFooter section{
    margin-left: 70px;
    margin-top: 10px;
}
.justheading{
    margin-top: 10px;
    font-size: 14px;
    color: #002f34;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;   
}

.ulSubFooter{
    list-style-type: none;
    display: inline;
}
.ulSubFooter li{
    display: list-item;
    text-align: left;
    margin-top: 4px;
    font-size: 13px;
    color: rgb(143, 140, 140);
}
.sociallinks{
    display: flex;
}
.sociallinks a{
    font-size: 20px;
    margin-left: 15px;
}
.storeBtn{
    border: 0px solid;
}
.storeBtn img{
    width: 110px;
    height: 32px;
}
.mainFooter{
    background-color: #002f34;
    width: 100%;
    height: 50px;
    display: flex;
}
.section1{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    margin-left: 90px;
    margin-top: 15px;
}
.section1 a{
    margin-left: 10px;
}
.section2{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    margin-left: 560px;
    margin-top: 15px;
}

